<table>
  <th>name</th>
  <th>email</th>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
  </tr>
</table>

<div>
  <% if @user.images.attached? %>
    <%= link_to 'delete all', del_images_user_path(@user, purge: true), method: :delete, data: {confirm: '确定全部删除吗？'} %>
    <% @user.images.each do |image| %>
      <div>
        <%= image_tag image %>
        <span><%= image.filename %></span>
      </div>
      <!--<%= url_for image %>-->
      <!--<%= rails_blob_path image, disposition: 'image' %>-->
      <%= link_to 'delete', del_images_user_path(@user, attachment_id: image), method: :delete, data: {confirm: '确定删除吗？'} %>
    <% end %>
  <% end %>
  <% if @user.documents.attached? %>
    <ul>
      <% @user.documents.each do |document| %>
        <li><%= link_to document.filename, document, target: :blank %></li>
      <% end %>
    </ul>
  <% end %>
</div>