<%= page_title '角色管理' %>
<div class="wrap">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_tag admin_roles_path, id: 'form-role', class: 'form-inline', role: 'form', method: :post do %>
        <div class="form-group">
          <%= text_field_tag 'role[code]', nil, placeholder: '输入角色代码', class: 'form-control input-sm' %>
          <%= text_field_tag 'role[name]', nil, placeholder: '输入角色名称', class: 'form-control input-sm' %>
          <%= text_field_tag 'role[description]', nil, placeholder: '输入角色描述', class: 'form-control input-sm' %>
          <%= submit_tag '确定', class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>角色代码</th>
          <th>角色名称</th>
          <th>角色描述</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.code %></td>
            <td><%= role.name %></td>
            <td><%= role.description %></td>
            <td>
              <%= link_to admin_role_path(role) do %>
                  <i class="fas fa-info-circle"></i>查看
              <% end %>
              <%= link_to edit_admin_role_path(role) do %>
                  <i class="fas fa-edit"></i>编辑
              <% end %>
              <%= link_to admin_role_path(role), method: :delete, data: {confirm: '确定删除吗？'} do %>
                  <i class="fas fa-trash-alt"></i>删除
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

