<%= page_title '用户管理' %>
<div class="wrap">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= form_tag admin_users_path, id: 'form-search-user', class: 'form-inline', role: 'form', method: :get do %>
        <div class="col-md-12">
          <div class="input-group">
            <%= text_field_tag :search, params[:search], placeholder: '输入姓名', class: 'form-control input-sm' %>
            <div class="input-group-btn">
              <%= submit_tag '搜索', class: 'btn btn-default btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>
      <div>
        <%= link_to '新增角色', new_admin_user_path, class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>姓名</th>
          <th>邮箱</th>
          <th>角色</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role_names.join(',') %></td>
            <td><%= user_status(user.active) %></td>
            <td>
              <%= link_to '查看', admin_user_path(user), class: 'btn btn-xs btn-info' %>
              <%= link_to '编辑', edit_admin_user_path(user), class: 'btn btn-xs btn-warning' %>
              <%= link_to '删除', admin_user_path(user), method: :delete, data: {confirm: '确定删除吗？'}, class: 'btn btn-xs btn-danger'  %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="paginate">
    <%= paginate @users %>
  </div>
</div>
